<div class="header">
    <h1>Work Order</h1>
</div>
<!-- 
<div class="tabBar justify-content-cente">
    <mat-tab-group class="tabGrp">
     <mat-tab label="Internal Workorder Details"> </mat-tab>
     <mat-tab label="External Workorder Details"> Content 2 </mat-tab>
    </mat-tab-group>
</div> -->

<!-- <ejs-tab id="element">
    <e-tabitems>
        <e-tabitem>
            <ng-template #headerText>  
                <div>  
                </div>
            </ng-template>
            <ng-template #content>      
                       
            </ng-template>
        </e-tabitem>
    </e-tabitems>
      </ejs-tab> -->

      <!-- <div Class="tab_content">
        <ejs-tab id="element" >
            <e-tabitems class="item_header">
                <e-tabitem [header]='headerText[0]' [content]="content0"></e-tabitem>
                <e-tabitem [header]='headerText[1]' [content]="content1"></e-tabitem>
                <e-tabitem [header]='headerText[2]' [content]="content2"></e-tabitem>
            </e-tabitems>
        </ejs-tab>
      </div> -->

      

      <div class="wrapper">
        <div class="tabs">
          <div class="tab">
            <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
            <label for="tab-1" class="tab-label">Internal WorkOrder Details</label>
            <div class="tab-content">

                <div class="contentBody">
                <div class="Sdp">
                    <div class="search-container">
                        <form action="">
                          <input type="text" placeholder="Search..." name="search">
                        </form>
                      </div>
                    <div class="datePicker">
                        <label class="DPLable" for="DPLable">From</label>
                        <input class="date_input" type="date">
                        <label class="DPLable" for="DPLable">To</label>
                        <input class="date_input" type="date">
                    </div> 

                </div>

                <div id="wrapper1">
                    
                    <table id="keywords" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                          <th><span>WorkOrderID</span></th>
                          <th><span>GENERATED DATE</span></th>
                          <th><span>ASSIGN TO</span></th>
                          <th><span>STATUS</span></th>		

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="lalign">351XXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">HMSXXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">92846XXXXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">110XXXXXXX	</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">109XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">45487XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                      </tbody>
                    </table>
                   </div>
                
            </div>
               
            </div>
          </div>
          <div class="tab">
            <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
            <label for="tab-2" class="tab-label">External WorkOrder DetailsTab Two</label>
            <div class="tab-content"><div class="contentBody">
                <div class="Sdp">
                    <div class="search-container">
                        <form action="">
                          <input type="text" placeholder="Search..." name="search">
                        </form>
                      </div>
                    <div class="datePicker">
                        <label class="DPLable" for="DPLable">From</label>
                        <input class="date_input" type="date">
                        <label class="DPLable" for="DPLable">To</label>
                        <input class="date_input" type="date">
                    </div> 

                </div>

                <div id="wrapper1">
                    
                    <table id="keywords" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr> 
                          <th><span>COMPANY</span></th>
                          <th><span>GENERATED DATE</span></th>
                          <th><span>ASSIGN TO</span></th>		
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="lalign">351XXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">HMSXXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">92846XXXXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">110XXXXXXX	</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">109XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                        <tr>
                          <td class="lalign">45487XXXXXXX</td>
                          <td>XXXXXXX</td>
                          <td>XXXXXXX</td>
                        </tr>
                      </tbody>
                    </table>
                   </div>
                
            </div></div>
          </div>
          
        </div>
      </div>