<!-- <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"><img src="../assets/img/navLogo.png" class="img-fluid" alt=""></a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="nav-link-contact" href="#">Contact</a>
      <a class="nav-link" href="#">Login</a>
    </div>
  </nav> -->

  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href=""><img src="../assets/img/navLogo.png" class="img-fluid" alt=""></a>
        </div>
        
        <div class="main_list" id="mainListDiv">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <!-- <li><a href="#">my work</a></li>
                <li><a href="#">disegn</a></li> -->
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <div class="media_button">
            <button class="main_media_button" id="mediaButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>
    
<!-- <section class="home"></section> -->