<section class="mt-3">
    <div class="container">
        <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/inventory-management-line-icon-vector-illustration-sign-isolated-contour-symbol-black-206722126.jpg" alt="image-fluid">
                <div class="card-body">
                  <h5 class="card-title">Assets Management</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/am.jpg" alt="image-fluid">
                    <div class="card-body">
                      <h5 class="card-title">Work Order</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/sheduling.jpg" alt="image-fluid">
                    <div class="card-body">
                      <h5 class="card-title">Scheduling</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/userm.png" alt="image-fluid">
                    <div class="card-body">
                      <h5 class="card-title">User Management</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/img/alart.jpg" alt="image-fluid">
                        <div class="card-body">
                          <h5 class="card-title">Alart Management</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/img/repoting.jpg" alt="image-fluid">
                        <div class="card-body">
                          <h5 class="card-title">Reporting</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/img/knowlage.jpg" alt="image-fluid">
                        <div class="card-body">
                          <h5 class="card-title">Knowledge Hub</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../assets/img/market.jpg" alt="image-fluid">
                            <div class="card-body">
                              <h5 class="card-title">Market Place</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../assets/img/account.jpg" alt="image-fluid">
                            <div class="card-body">
                              <h5 class="card-title">Account Management</h5>
                            </div>
                        </div>
                    </div>
                </div>
        
        </div>
</section>
